<p id="notice"><%= notice %></p>

<p>
  <strong>URL:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Shortened URL:</strong>
  <%= "#{display_slug}/#{@url.slug}" %>
</p>

<p>
  Append '/stats' after shortened URL to check stats.
</p>

<!-- <p>
  <strong>Clicks:</strong>
  <%#= @url.clicks %>
</p>

<p>
  <strong>Sanitize url:</strong>
  <%#= @url.sanitize_url %>
</p>

<p>
  <strong>Http status:</strong>
  <%#= @url.http_status %>
</p>

<%#= link_to 'Edit', edit_url_path(@url) %> |
<%#= link_to 'Back', urls_path %>
 -->
